services:
  mariadb:
    build: ./requirements/mariadb
    restart: unless-stopped
    env_file: .env
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - inception_network
    secrets:
      - db_root_password
      - db_password

  wordpress:
    build: ./requirements/wordpress
    restart: unless-stopped
    env_file: .env
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - inception_network
    depends_on:
      - mariadb
    secrets:
      - db_password
      - wp_admin_password
      - wp_user_password

  nginx:
    build: ./requirements/nginx
    restart: unless-stopped
    env_file: .env
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - inception_network
    depends_on:
      - wordpress
    ports:
      - "443:443"

volumes:
  wordpress_data:
    driver_opts:
      type: none
      o: bind
      device: /home/hkheired/data/wordpress
  mariadb_data:
    driver_opts:
      type: none
      o: bind
      device: /home/hkheired/data/mariadb

networks:
  inception_network:

secrets:
  db_root_password:
    file: ../secrets/db_root_password.txt
  db_password:
    file: ../secrets/db_password.txt
  wp_admin_password:
    file: ../secrets/wp_admin_password.txt
  wp_user_password:
    file: ../secrets/wp_user_password.txt
